.need-scroll{
	overflow: auto;
}

.input-xs .size-xs{
  display: auto ;
  width: 30px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}

.input-md .size-md{
  display: auto ;
  width: 70px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}

.input-nm .size-nm{
  display: auto ;
  width: 120px ;
  padding: 5px 1px ;
  margin-bottom: 3px;
  margin-top: 3px;
}

.size-block{

}

.form-control{
  display: inline;
}

.floatR: {
  float: right;
}

.mb-ok-btn{
  text-align: right;
}

.page-size-left{
  float: left;
}

.modal-body{
  text-align: center;
}

.query-panel{
  float: right;
  padding: 10px;
}

.content-left{
  text-align: left;
  margin: auto;
  display: table;
}

.tree-left{
  float: left;
  width:30%;

}

.table-right{
  float: right;
  width:70%;
}

.main-page{
  overflow: hidden;
}

.h500px{
  max-height: 500px;
  overflow: auto;
}

th{
    word-break: keep-all;
    word-wrap: break-word;
    text-align: center;
}

td{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

td:hover{
    max-width: 120px;
    background-color: rgba(39, 45, 210, 0.23);
    overflow: auto;
    word-break: keep-all;
    word-wrap: break-word;

}

.page-content{
    min-height: auto;
    overflow: auto;

}

.btn{
  margin-left: 5px;
}

.inline{
  display: inline;
}

.block{
  display: block;
}


.control-label{
    text-align: right;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
}

.row{
  margin:5px;
}